<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>SOAD Discography</title>
</head>
<body>
    <header>
        <nav class="navigator-menu">
          <ul>
            <li><a href="/home">Home</a></li>
          </ul>
          <ul><li><a href="/members">About them</a></li></ul>
          <ul><li><a href="/discography">Discography</a></li></ul>
          <ul><li><a href="/photos">Photos</a></li></ul>
      </nav>
      </header>

      <div class="title">
          <h1>Discography</h1>
          <div>
              <img src="" alt="">
          </div>
      </div>

      <div class="albums">
        <div class="albums-1">
            <h3>System of a Down</h3>
            <div>
                <img src="/images/soadlogo.jpg" alt="">
            </div>
        </div>
        <div class="albums-2">
            <h3>Toxicity</h3>
            <div>
                <img src="/images/toxicity.jpg" alt="">
            </div>
        </div>
        <div class="albums-3">
            <h3>Steal This Album!</h3>
            <div>
                <img src="/images/steal.jpg" alt="">
            </div>
        </div>
        <div class="albums4">
            <h3>Mezmerize</h3>
            <div>
                <img src="/images/mezmerize.jpg" alt="">
            </div>
        </div>
        <div class="albums-5">
            <h3>Hyponitze</h3>
            <div>
                <img src="/images/hypno.jpg" alt="">
            </div>
        </div>
      </div>
</body>
</html>