<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>SOAD Galería</title>
  </head>
  <body>
    <header>
      <nav class="navigator-menu">
        <ul>
          <li><a href="/home">Home</a></li>
        </ul>
        <ul>
          <li><a href="/members">About them</a></li>
        </ul>
        <ul>
          <li><a href="/discography">Discography</a></li>
        </ul>
        <ul>
          <li><a href="/photos">Photos</a></li>
        </ul>
      </nav>
    </header>
    <div class="galeria" style="--w: 600px; --h: 700px">
      <input type="radio" name="navegacion" id="_1" checked />
      <input type="radio" name="navegacion" id="_2" />
      <input type="radio" name="navegacion" id="_3" />
      <input type="radio" name="navegacion" id="_4" />
      <input type="radio" name="navegacion" id="_5" />
      <input type="radio" name="navegacion" id="_6" />
      <img src="/images/1jpg.jpg" width="260" height="300" alt="Galeria CSS 1"/>
      <img src="/images/2.jpg" width="260" height="300" alt="Galeria CSS 2" />
      <img src="/images/3.jpg" width="260" height="300" alt="Galeria CSS 3" />
      <img src="/images/4.jpg" width="260" height="300" alt="Galeria CSS 4" />
      <img src="/images/5.jpg" width="260" height="300" alt="Galeria CSS 5" />
      <img src="/images/6.jpg" width="260" height="300" alt="Galeria CSS 6" />
    </div>
  </body>
</html>
