<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>SOAD</title>
  </head>
  <body>
    <header>
      <nav class="navigator-menu">
        <ul>
          <li><a href="/home">Home</a></li>
        </ul>
        <ul><li><a href="/members">About them</a></li></ul>
        <ul><li><a href="/discography">Discography</a></li></ul>
        <ul><li><a href="/photos">Photos</a></li></ul>
    </nav>
    </header>
    <div class="mainTitle">
      <h1>System of a Down</h1>
    </div>
  </body>
</html>
