<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>SOAD Members</title>
  </head>
  <body>
    <header>
      <nav class="navigator-menu">
        <ul>
          <li><a href="/home">Home</a></li>
        </ul>
        <ul>
          <li><a href="/members">About them</a></li>
        </ul>
        <ul>
          <li><a href="/discography">Discography</a></li>
        </ul>
        <ul>
          <li><a href="/photos">Photos</a></li>
        </ul>
      </nav>
    </header>

    <div class="title">
      <h1>Members</h1>
    </div>
    <div class="serj">
      <div class="serj-photo">
        <img src="/images/serj.jpg" alt="" />
      </div>
      <div class="serj-p">
        <p>
          He is Serj Tankian, the main voice of System of A Down. He's actually
          54 years old and has a work alone where he is the main singer too.
          <br />
          <br />
          He is an activist for Human Rights and he write most of his songs
          about this theme.
        </p>
      </div>
    </div>
    <div class="daron">
      <div class="daron-p">
        <p>
          He is Daron Malakian, the secundary voice of System of A Down and the
          guitarrist. He's actually 46 years old and has a work with other
          members of SOAD called 'Scars On Broadway' where he is the main voice
          and a guitarrist.
          <br />
          <br />
          He had to deal with a problem about drugs in the past but nowadays
          he's detoxified
        </p>
      </div>
      <div class="daron-photo">
        <img src="/images/daron.jpg" alt="" />
      </div>
    </div>
    <div class="shavo">
      <div class="shavo-photo">
        <img src="/images/ShavoBass.jpg" alt="" />
      </div>
      <div class="shavo-p">
        <p>
          He is Shavo Odadjian, the bass guitar of SOAD. He's actually 47 years
          old. He has been always in System of A Down and is the responsible for
          the preparation of the live shows of the band.
          <br />
          <br />
          He also has written some of the best songs that SOAD has like
          'Toxicity'
        </p>
      </div>
    </div>
    <div class="john">
      <div class="john-p">
        <p>
          He is John Dolmayan, the drummer of SOAD. He's 48 and with Daron is
          part of 'Scars On Broadway' being the drummer aswell.
          <br />
          <br />
          He's one of the quiet members of the group and don't know much about
          him, except he's a fantastic drummer.
        </p>
      </div>
      <div class="john-photo">
        <img src="/images/john.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
